.container .services-section .heading h2, .container .testimonials-section .heading h2{
    font-size: 25px;
    font-weight: 700;
    color: rgb(59, 59, 59);
    padding: 20px 0;
    margin: 20px auto;
    text-align: center;
    border-bottom: 2px solid rgba(72, 19, 218, 0.295);
    width: fit-content;
}

.container .services-section .services{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.container .services-section .services .service{
    box-shadow: 1px 1px 3px rgb(158, 158, 157);
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
   
    
}

.container .services-section .services .service img{
    width: 100%;
    height: 260px;
    
}
.container .services-section .services .service .detail{
    text-align: center;
    padding: 10px;
}
.container .services-section .services .service .detail  h6{
    font-weight: 500;
    margin: 10px !important;
}
.container .services-section .services .service .detail p{
    color: rgb(82, 79, 79);
    font-weight: 500;
}
.container .services-section .services .service .detail div a{
    padding: 15px 35px;
    font-size: 14px;
}
.container .testimonials-section .testimonials{
     width: 700px;
     margin: 50px auto;
}

.container .testimonials-section .testimonials .testimonial{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   align-items: center;
   
}   
.container .testimonials-section .testimonials .testimonial div:first-child{
    align-items: center;
    text-align: center;
    align-content: center;
}
.container .testimonials-section .testimonials .testimonial div img{
    width: 200px !important;
    height: 200px;
    border-radius: 50%;
}
.container .testimonials-section .testimonials .testimonial .testi{
    padding: 20px;
}
.container .testimonials-section .testimonials .testimonial .testi q{
    color: rgb(98, 97, 97);
    font-size: 17px;
}

@media screen and (max-width:1000px){
    .container .services-section .services{
        display: block;
        margin: auto;
    }
    .container .services-section .services .service{
        margin: 30px auto; 
        width: 450px;
    }
    .container .testimonials-section .testimonials .testimonial{
        display: block;
        
     }
     .container .testimonials-section .testimonials{
        width: 100%;
        margin: 50px auto;
   }
}